@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.cont-logo {
    text-align: center;
}

.cont-vending {
    display: flex;
    justify-content: space-between;
    width: 748px;
    margin: 67px 0;
}

/*machine왼쪽*/
.cont-vending {
    display: flex;
    margin: 98px auto 0;
    background-color: aqua;
}

.cont-vending .machine-left {
    width: 360px;
    margin-right: 28px;
    padding: 31px 27px 28px;
    background-color: antiquewhite;
}

.machine-left .list-cola1 {
    background-color: antiquewhite;
}

.machine-left .list-cola1 li {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    

}


/*machine 오른쪽*/
.machine-right {
    width: 360px;
}


